body {
    background-image: url("../assets/homeBackground.jpg");
    background-size: contain;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    background-color: rgba(0, 0, 50, 0.79);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row-reverse;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 14px;
  }
   
  nav li:first-child {
    position: absolute;
    left: 2%;
  }
  

  nav a {
    color: #fff;
    text-decoration: none;
  }
  
    
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 60px; /* To push the container down below the navbar */

  }

  button {
    background-color: rgba(0, 0, 50, 0.25);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: rgba(0, 0, 100, 0.75);
  }

  html,
  body {
    height: 100%;
  }
  
  
